<div class="user-profile">
    <div class="user-header">
        <h1>{{User.username}}</h1>
        <h2>{{User.firstName}} {{User.lastName}}</h2>
    </div>

    <div class="user-wishlists">
        {{#each wishlist}}
        <div class="user-wishlist">
            <p class="wishlist-title">{{Wishlist.title}}</p>
            <p class="wishlist-date">{{Wishlist.createdAt}}</p>
        </div>
        {{/each}}
    </div>
</div>